@import 'interactive-common';
@import 'colors';
@import 'font-mixins';

:host {
  max-width: 100%;
}

::ng-deep button {
  @include dt-interactive-reset();
  @include dt-main-font();
}

::ng-deep .dt-uxd-node-content p {
  margin-bottom: 0;
}

.dt-uxd-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.dt-uxd-node {
  height: auto;
  margin: 4px;
}

.dt-uxd-node-wrapper {
  border-left: 2px solid #ccc;
  padding-left: 24px;
  margin-bottom: 68px;
}

.dt-uxd-node-content {
  width: fit-content;
  margin-bottom: 20px;
  border-radius: 2px;
}

.dt-uxd-node-edges {
  width: fit-content;
  margin: 4px;
}

.dt-uxd-button {
  height: 32px;
  min-width: 40px;
  border-radius: 3px;
  margin: 0 4px;
  color: white;

  &:disabled {
    background-color: $gray-300;

    &:hover {
      background-color: $gray-300;
    }
  }
}

.dt-uxd-yes {
  height: 44px;
  width: 44px;
  border-radius: 22px;
  margin-right: 32px;
  background-color: $royalblue-600;

  &:hover {
    background-color: $royalblue-700;
  }
}

.dt-uxd-no {
  height: 44px;
  width: 44px;
  border-radius: 22px;
  margin-right: 32px;
  background-color: $royalblue-800;

  &:hover {
    background-color: $royalblue-900;
  }
}

.dt-uxd-got-it {
  background-color: $royalblue-600;

  &:hover {
    background-color: $royalblue-700;
  }
}

.dt-uxd-start-over-button {
  background-color: $royalblue-600;

  &:hover {
    background-color: $royalblue-700;
  }
}

.dt-uxd-back-button {
  background-color: $royalblue-600;

  &:hover {
    background-color: $royalblue-700;
  }
}

.dt-uxd-task-node-wrapper {
  position: relative;
  max-width: 100%;
  background-color: $royalblue-600;
  color: white;
  border-left: 2px solid $royalblue-600;
  padding: 24px;
  margin-bottom: 44px;
}

.dt-uxd-task-node-content {
  margin: 0 auto;
}

.dt-uxd-navigation {
  width: fit-content;
  // margin: 4px auto;
}
