<div *ngIf="node">
  <div *ngFor="let node of decisionGraphSteps">
    <div class="ba-uxd-node-wrapper" *ngIf="!node.tasknode">
      <div
        class="ba-uxd-node-content"
        [innerHTML]="getSanitizedNodeText(node.text)"
      ></div>
      <div *ngIf="node.path.length">
        <button
          class="ba-uxd-edge-button"
          *ngFor="let edge of node.path.sort()"
          [ngClass]="
          {
            'ba-uxd-yes-edge': edge.text.toLowerCase().includes('yes'),
            'ba-uxd-no-edge': edge.text.toLowerCase().includes('no')
          }"
          [disabled]="edge.selected === false"
          (click)="setNextNode(edge)"
        >
          {{edge.text}}
        </button>
      </div>
    </div>
    <div
      class="ba-uxd-task-node-wrapper"
      *ngIf="node.tasknode"
      [innerHTML]="getSanitizedNodeText(node.text)"
    ></div>
  </div>
</div>
<!-- Navigation functionality -->
<div *ngIf="decisionGraphSteps.length > 0">
  <button
    class="ba-uxd-navigation-button"
    *ngIf="decisionGraphSteps.length > 1"
    (click)="undoLastStep()"
    dt-button
    variant="secondary"
  >
    Back
  </button>
  <button class="ba-uxd-navigation-button" (click)="resetToInitial()" dt-button>
    Start Over
  </button>
</div>
