:host {
  display: flex;
  margin-bottom: 20px;
}

::ng-deep .dt-uxd-startnode p {
  margin-bottom: 20px;
}

.dt-uxd-startnode-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.dt-uxd-startnode {
  background-color: #31339c;
  color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 4px;

  &:hover {
    background-color: #4556d7;
    cursor: pointer;
  }

  &:active {
    background-color: #4556d7;
  }
}

.dt-uxd-startnode-visited {
  background-color: #4556d7;
}

.dt-uxd-startnode-content {
  font-size: 18px;
  line-height: 28px;
  margin: 8px 12px;
}
